@import "./../../../style/vars.scss";

.header-user-options {
    display: flex;
    .menu-link {
        color: #fff;
        &:hover {
            &:hover {
                color: $color-primary-300;
            }
        }
        & + .menu-link {
            margin-left: 1rem;
        }
    }
}