@import "./../../../style/vars.scss";

.header {
    background: $background-header;
    color: #fff;
    .header-row {
        align-items: center;
        display: flex;
        height: 80px;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .logo {
        i {
            color: $color-font;
            display: inline-block;
            margin-right: 0.25rem;
        }
    }
}