@import './../../../../style/vars.scss';

.grid-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    .title-grid {
        background: $background-page-title;
        background-repeat: no-repeat;
        background-size: 100% 44%;
        background-position: 0 96%;
        margin: 0;
        padding: 0.25rem 0.5rem;
    }
    .search-wrapper {
        max-width: 400px;
        width: 100%;
        position: relative;
        .searchText {
            display: block;
            height: 2rem;
            padding: 0.2rem 3rem 0.2rem 0.5rem;
            width: 100%;
        }
        .btn-search {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            height: 2rem;
            position: absolute;
            right: 0;
        }
    }
}

.mobile-grid-list {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem -1rem;
}

@media (max-width: $mobile-screen) {
    .grid-header {
        .search-wrapper {
            margin-top: 1rem;
            max-width: none;
        }
    }
}