@import url(https://fonts.googleapis.com/css2?family=Montserrat&display=swap);

$font-primary: 'Montserrat', sans-serif;
$color-body-background: #FAFAFA;
$color-primary-50: #fde3e9;
$color-primary-300: #F25D7F;
$color-primary-500: #EC1848;
$color-primary-700: #E71138;
$color-primary-900: #DF0821;
$color-accent-50: #f6e5ed;
$color-accent-300: #CD6594;
$color-accent-500: #B72366;
$color-accent-700: #A71A53;
$color-accent-900: #900C38;