@import './../../../../style/vars.scss';

.mobile-info {
    small {
        color: $color-clear-txt;
    }
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 1.5rem;
        h3 {
            margin: 0;
        }
        .big-number {
            background: $color-card-gradient;
            background-clip: text;
            border-radius: 0.5rem;
            bottom: 0.75rem;
            color:$color-primary-700;
            font-size: 1.5rem;
        }
    }
    .info-table {
        font-size: 0.7rem;
        td {
            border-right: 1px solid rgba(0,0,0,0.1);
            padding: 0.25rem 0.25rem 0;
            vertical-align: text-top;
            &:last-child {
                border-right: none;
                padding-right: 0;
            }
        }
        p {
            margin: 0.2rem 0 0.5rem;
        }
    }
}